.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    /* border-top: 5px solid black;
    border-bottom: 5px solid black; */
}

.container h3 {
    margin-top: 0;
}

.ct {
    display: flex;
    flex-direction: column;
}

.child {
    width: 100px;
    height: 100px;
    margin: auto;
    /* border: 5px solid black; */
}

.borders {
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.leftBorder {
    border-left: 5px solid #aaa;
}

.leftBorder.strongBorder {
    border-left: 5px solid black;
}

.topBorder {
    border-top: 5px solid #aaa;
}

.topBorder.strongBorder {
    border-top: 5px solid black;
}

.rightBorder {
    border-right: 5px solid #aaa;
}

.rightBorder.strongBorder {
    border-right: 5px solid black;
}

.bottomBorder {
    border-bottom: 5px solid #aaa;
}

.bottomBorder.strongBorder {
    border-bottom: 5px solid black;
}

.lighten { opacity: 0.65; }
.red { background-color: red; }
/* .red.lighten { opacity: 0.65; } */
.green { background-color: limegreen; }
/* .green.lighten { background-color: lighten(limegreen, 50%); } */
.blue { background-color: blue; }
/* .blue.lighten { background-color: lighten(blue, 50%); } */
.orange { background-color: orange; }
/* .orange.lighten { background-color: lighten(orange, 50%); } */

.neutral { background-color: grey; }
